/* html {
  background-color: green;
  font-size: 20px;
}



li {
  margin-left: 20px;
} */

body {
  margin: 0;
  font-family: "Arial";
  font-size: 16px;
  color: #2b2b2b;
}

main {
  min-height: calc(100vh - 125px);
  margin-top: 75px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

header {
  top: 0;
  height: 75px;
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 1px solid rgba(215, 230, 251, 0.335);
  padding: 0.5rem 3rem 0.5rem 2rem;
  box-sizing: border-box;
  background-color: white;
}

h1 {
  font-weight: 600;
  font-size: x-large;
}

ul {
  list-style-type: none;
  padding: 0;
}

footer {
  background-color: #0087ca;
  color: white;
  align-self: flex-end;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header ul li a {
  /* text-transform: uppercase; */
  text-decoration: none;
  color: #2b2b2b;
  font-weight: 600;
  list-style: var(--liststyle, none);
}

header ul li a:hover {
  color: #0087ca;
}

.navbar-brand {
  height: 40px;
  width: 40px;
}

.navListWrapper {
  display: flex;
  gap: 2rem;
}

.headerBrandWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* start nav item hover underline  */
.underline {
  display: inline-block;
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* end nav item hover underline  */
