:root {
  --main-dark: #1a7486;
  --main-medium: #5191a6;
  --main-light: #ace4fc;
  --accent-light: #cbb9a4;
  --accent-dark: #5c4434;
  --text-hover: #0087ca;
  --text-main: #2b2b2b;
  --header-height: 75px;
  --background-color: #fff;
}

body {
  margin: 0;
  font-family: "Arial";
  font-size: 16px;
  color: var(--text-main);
}

main {
  min-height: calc(100vh - 125px);
  margin-top: var(--header-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;  */
}

header {
  top: 0;
  height: var(--header-height);
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 1px solid rgba(215, 230, 251, 0.335);
  padding: 0.5rem 3rem 0.5rem 2rem;
  box-sizing: border-box;
  background-color: var(--background-color);
}

h1 {
  font-weight: 600;
  font-size: x-large;
}

ul {
  list-style-type: none;
  padding: 0;
}

footer {
  background-color: var(--main-dark);
  color: white;
  align-self: flex-end;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header ul li a {
  /* text-transform: uppercase; */
  text-decoration: none;
  color: #2b2b2b;
  font-weight: 600;
  list-style: var(--liststyle, none);
}

header ul li a:hover {
  color: var(--text-hover);
}

/* section block */
.section-block {
  background-color: var(--main-light);
  min-height: 10rem;
  width: 100vw;
  /* padding: 1rem; */
  box-sizing: border-box;
}

.section-block p {
  width: 50vw;
  margin: 1rem;
  box-sizing: border-box;
}

.section-block h2 {
  margin: 1rem;
  box-sizing: border-box;
}

/* end section block */

.navbar-brand {
  height: 40px;
  width: 40px;
}

.nav-list-wrapper {
  display: flex;
  gap: 2rem;
}

.header-brand-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* start nav item hover underline  */
.underline {
  display: inline-block;
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--text-hover);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* end nav item hover underline  */

/* responsive nav */
/* .topnav {
  overflow: hidden;
  background-color: #999;
} */

.responsive-nav-menu {
  display: none;
  text-decoration: none;
  font-size: larger;
  color: var(--text-main);
  border: none;
  background-color: inherit;
  appearance: none;
}

@media (max-width: 600px) {
  .responsive-nav-menu {
    float: right;
    display: flex;
    margin-right: 2rem;
  }

  .nav-list-wrapper {
    display: none;
  }

  .nav-list-wrapper.responsive {
    position: fixed;
    top: var(--header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    width: 100vw;
    margin-top: 0rem;
    padding-top: 0rem;
    gap: 0rem;
  }

  header ul li {
    /* height: 4rem; */
    /* position: relative; */
    /* width: 100vw; */
    display: flex;
    height: 4rem;
    width: 100vw;
  }

  header ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 100vw;
  }

  header ul li:hover {
    background-color: var(--main-light);
  }

  .underline {
    display: flex;
  }

  .underline::after {
    display: none;
  }

  header {
    padding: 0.5rem 0;
  }

  .header-brand-wrapper {
    margin-left: 1rem;
  }

  .section-block p {
    width: calc(100vw - 2rem);
  }
}

/* @media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */
